{% extends 'layouts/base.twig' %}

{% block main_content %}
    <h2>About {{ variant.title }}</h2>

    <ul>
        <li>
            <strong>Title: </strong> {{ variant.name }}
        </li>
        <li>
            <strong>Slug: </strong> {{ variant.slug }}
        </li>
        <li>
            <strong>Description: </strong> {{ variant.description }}
        </li>
        <li>
            <strong>Price: </strong> ${{ variant.price }}
        </li>
        <div>
        <label>Inventory: </label>
        <br />  
        <input type="text" name="inventory" value="{{ variant.price }}" />
    </div>
    <div>
        <label>Variant Id: </label>
        <br />  
        <input type="text" name="variantId" value="{{ variant.price }}" />
    </div>

    </ul>

    <a href="/variants/{{ variant.id }}/edit">Edit</a> | <a href="/variants/{{ variant.id }}/delete">Delete</a>
{% endblock %}