{% extends 'layouts/base.twig' %}

{% block title %}All Products{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/public/product-grid.css">
{% endblock %}

{% block main_content %}
	<main class="container">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<div class="container">
		
		    <h1  class="text-4xl mt-10 text-purple-400">Trapstar Bam Beats Music Stop</h1>
		    <hr />
		    <div id="products-container" class="row">
		    	{% for product in products %}
			        <div class="col-md-3 col-sm-6">
			            <div class="product-grid3">
			                <div class="product-image3">
			                    <a href="/store/products/{{ product.slug }}">
			                    	{% for variant in product.Variants %}
			                    		{% set loopIndex = loop.index %}
			                    		{% for image in variant.Images %}
			                    			<img class="pic-{{ loopIndex }}" src="/public/images/{{ image.id }}{{ image.extension }}">
			                    		{% endfor %}		
			                    	{% endfor %}
			                    </a>
			                </div>
			                <div class="product-content">
			                    <h3 class="title"><a href="#">{{ product.title }}</a></h3>
			                    <div class="price">
			                        ${{ product.price }}
			                    </div>
			                </div>
			            </div>
			        </div>
		    	{% endfor %}
		    </div>
		</div>
	</main>
{% endblock %}

{# {% extends 'layouts/base.twig' %}

{% block title %}All Products{% endblock %}

{% block stylesheets %}
	{{ parent() }}

{% endblock %}

{% block main_content %}
	<main class="container">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
		<div class="container w-180 h-250 border-purple-400">
		    <h3 class="text-black text-bold text-3xl">E-Commerce Shop Demonstration views/store/index</h3>
		    <hr />
		    <div id="products-container" class="row">
		    	{% for product in products %}
			        <div class="col-md-3 col-sm-6">
			            <div class="product-grid3">
			                <div class="product-image3">
			                    <a href="/store/products/{{ product.slug }}">
			                    	{% for variant in product.variant %}
                                    {% set loopIndex = loop.index %}
                                    {% for image in variant.Images %}
                                        <img class="pic-{{ loopIndex }}" src="/public/images/{{ image.id }}{{ image.extension }}">
                                    {% endfor %}
                                {% endfor %}
			                    </a>
			                    <ul class="social">
			                        <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
			                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
			                    </ul>
			                    <span class="product-new-label">New</span>
			                </div>
			                <div class="product-content">
			                    <h3 class="title"><a href="/store/products/{{ product.slug }}">{{ product.title }}</a></h3>
			                    <div class="price">
			                        ${{ product.price }}
			                    </div>
			                </div>
			            </div>
			        </div>
		    	{% endfor %}
		    </div>
		</div>
	</main>
{% endblock %} #}