{% extends 'layouts/base.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/public/product-page.css">
	<link rel="stylesheet" type="text/css" href="/public/product-page.css">
{% endblock %}

{% block title %}{{ product.title }} - {{ variants.title }}{% endblock %}

{% block main_content %}
	<main class="container">
		<div class="grid grid-cols-2 gap-x-2 gap-y-2 grid-flow-row-dense">
			<div class="bg-gray-200 rounded-lg shado-xl min-h-[300px]">
				<section class="panel">
					<div class="panel-body">
						<div class="col-md-6">
							{% set defaultImage = variants.Images[0] %}
							<div class="pro-img-details">
								<img src="/public/images/{{ defaultImage.id }}{{ defaultImage.extension }}" />
							</div>
							<div class="pro-img-list">
								{% for image in variants.Images %}
									<a href="#">
										<img src="/public/images/{{ image.id }}{{ image.extension }}" alt="">
									</a>
								{% endfor %}
							</div>
						</div>
						<div class="m-12 col-md-6">
							<h4 class="pro-d-title">
								<a class="font-bold" href="#" class="">
									{{ product.title }} - {{ variants.title }}
								</a>
							</h4>
							<p>
								{{ variants.description|raw }}
							</p>
							<h4 class="font-bold">Options:</h4>
							<p>
								{% for option in product.Variants %}
									{% if option.id == variants.id %}
										{{ option.title }}
									{% else %}
										<a href="/store/products/{{ product.slug }}?v={{ option.slug }}">{{ option.title }}</a>
									{% endif %}
								{% endfor %}
							</p>
							<div class="m-bot15">
								<strong>Price : </strong>
								<span class="">${{ variants.price }}</span>
							</div>
							<div class="m-bot15">
								<strong>In Stock : </strong>
								<span>
									{% if variants.inventory < 10 %}
										Almost Sold Out!
									{% elseif variants.inventory == 0 %}
										Not in Stock
									{% else %}
										In Stock
									{% endif %}
								</span>
							</div>
							<div class="form-group">
								<label class="font-bold">Quantity</label>
								<input type="quantiy" placeholder="1" class="form-control quantity">
							</div>
							<p>
								<button class="mt-2 p-2 bg-black text-purple-400 border-2 border-purple-400 rounded-sm" type="button">
									<i class="fa fa-shopping-cart"></i> Add to Cart
								</button>
							</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
{% endblock %}