<form method="POST" action="/images/{% if image.id %}{{ image.id }}{% endif %}">
<div class="m-12">
    {% if image.id %}
        <input type="hidden" name="id" value="{{ image.id }}">
    {% endif %}
    <div>
        <label><strong>Product Label</strong></label>
        <select class="mb-2" name="variantId"  >
            <option>Select Variant...</option>
            {% for variant in variants %}
            <option value="{{ variant.id }}" {% if variant.id == image.variantId %} selected="selected"{% endif %}>
                {{ variant.title }}
            </option>
          {% endfor %}
        </select>
    </div>
    <div>
        <label class="font-bold mb-2" htmlFor="image"> Upload Image:</label>
        <br/>
        <input class="mb-2" type="file" name="image" id="image" />
    </div>
    <div>
        <button class="p-2 mt-2 bg-black text-purple-400 border-2 border-purple-400 rounded-sm" type="submit">Save Product</button>
    </div>
    </div>
</form>



{# <form
  enctype="multipart/form-data"
  method="POST"
  action="/images/{% if image.id %}{{ image.id }}{% endif %}">

  {% if image.id %}
    <input type="hidden" name="id" value="{{ image.id }}">
  {% endif %}

  <div>
    <label>Parent Variant:</label>
    <select name="variantId">
      <option>Select Variant...</option>
      {% for variant in variants %}
        <option value="{{ variants.id }}" {% if variants.id == image.variantId %}selected="selected"{% endif %}>
          {{ variants.title }}
        </option>
      {% endfor %}
    </select>
  </div>
  <div>
    <label>Upload Image:</label>
    <br />
    <input type="file" name="image" id="image" />
  </div>
  <div>
    <input type="submit" type="submit" />
  </div>
</form> #}