{% extends 'layouts/base.twig' %}

{% block main_content %}
	<h2>All Images:</h2>
	<p>This is coming from view/images/index</p>
	<ul>
		{% for image in images %}
			<li>
				<a href="/images/{{ images.id }}">{{ images.id }}.jpg</a> 
				(Linked to variant 
				<a href="/variants/{{ images.variantId }}">
					{{ images.variants.title }} #{{ images.variantId }}
				</a>) - 
				<a href="/images/{{ images.id }}">Edit</a>
				| 
				<a href="/images/{{ images.id }}/delete">Delete</a>
			</li>
		{% endfor %}
	</ul>
	<a href="/images/new">Create New Image</a>
{% endblock %}