{% extends 'layouts/base.twig' %}

{% block main_content %}
<div class="m-12">
	<h2><strong>All Images:</strong></h2>
	<p>This is coming from view/images/index</p>
	<ul>
		{% for image in images %}
			<li>
				<a class="font-bold" href="/images/{{ image.id }}">{{ image.id }}.jpg</a> 
				(Linked to variants 
				<a class="font-bold" href="/variants/{{ image.variantId }}">
					{{ image.variants.title }} #{{ image.variantId }}
				</a>) - 
				<a class="font-bold" href="/images/{{ image.id }}/edit">Edit</a>
				| 
				<a class="font-bold" href="/images/{{ image.id }}/delete">Delete</a>
			</li>
		{% endfor %}
	</ul>
	<a class="font-bold underline" href="/images/new">Create New Image</a>
</div>
{% endblock %}