<form method="POST" action="/products/{% if product.id %}{{ product.id }}{% endif %}">
    {% if product %}
        <input type="hidden" name="id" value="{{ product.id }}">
    {% endif %}
     
        <div>
            <label>Title:</label>
            <br />  
            <input type="text" name="title" id="title" value="{{ product.title }}" />
        </div>
        <div>
            <label>Price:</label>
            <br />  
            <input type="text" name="price" id="price" value="{{ product.price }}" />
        </div>
        <div>
            <label>Slug:</label>
            <br />  
            <input type="text" name="slug" id="slug" value="{{ product.slug }}" />
        </div>
        <div>
            <label>Description:</label>
            <br />  
            <textarea name="description">{{ product.description }}</textarea>
        </div>
        <div>
            <label for="price">Is Published?</label>
            <input type="checkbox" name="is_published" id="is_published" value="true" {% if product.is_published %}checked="checked"{% endif %} />
        </div>
        <div>
            <button type="submit">Save Product</button>
        </div>
</form>