<form method="POST" action="/products/{% if product.id %}{{ product.id }}{% endif %}">
	{% if product.id %}
		<input type="hidden" name="id" value="{{ product.id }}">
	{% endif %}
	
	<div>
		<label class="font-bold">Title:</label>
		{# <br /> #}
		<input class="border-2 border-gray-200 rounded-lg m-2" type="text" name="title" id="title" value="{{ product.title }}" />
	</div>
	<div>
		<label class="font-bold" htmlFor="slug">Slug:</label>
		{# <br /> #}
		<input class="border-2 border-gray-200 rounded-lg m-2" type="text" name="slug" id="slug" value="{{ product.slug }}" />
	</div>
	<div>
		<label class="font-bold" htmlFor="price">Price:</label>
		{# <br /> #}
		<input class="border-2 border-gray-200 rounded-lg m-2" type="text" name="price" id="price" value="{{ product.price }}" />
	</div>
	
	<div>
		<label class="font-bold" htmlFor="is_published">Is Published?</label>
		<input class="border-2 border-gray-200 rounded-lg m-2 mb-2" type="checkbox" name="is_published" id="is_published" value="true" {% if product.is_published %}checked="checked"{% endif %} />
	</div>
	<div class="flex flex-col">
		<label class="font-bold" htmlFor="description">Product Description:</label>
		{# <br /> #}
		<textarea class="border-2 border-gray-200 rounded-lg m-2 w-1/6" type="text" name="description" id="description">{{ product.description }}</textarea>
		{# <textarea rows="10" cols="50" name="description" id="description">{{ product.description }}</textarea> #}
	</div>
	<div>
		<input class="bg-black text-purple-400 p-2 outline-white border-2 border-purple-400 rounded-sm" type="submit" type="submit" />
	</div>
</form>