{% extends 'layouts/base.twig' %}

{% block content %}
    <h1>Coming from templates/views/show.twig</h1>

    <ul>
        <li>
            <strong>Name:</strong> {{ product.name }}
        </li>
        <li>
            <strong>Price:</strong> ${{ product.price }}
        </li>
        <li>
            <strong>Slug:</strong> {{ product.slug }}
        </li>
        <li>
            <strong>Description:</strong> {{ product.description }}
        </li>
    </ul>

    <a href="/products/{{ product.id }}/edit">Edit</a>
    <a href="/products/{{ product.id }}/delete">Delete</a>
{% endblock %}